
{% extends "::base.html.twig" %}
{% block title %}{% endblock %}

{% block body %}
    <h1>Witaj na stronie Pizza creator</h1>
    Zarejestruj się
    <a href="/register/">
    <button>Rejestracja</button>
    </a><br><br>
    Zaloguj się
    <a href="/login">
    <button>Logowanie</button>
    </a>
{% endblock %}
