{% extends "::base.html.twig" %}

{% block title %}AppBundle:Ingredients:Add{% endblock %}

{% block body %}
<div class="col-md-4">
</div>
<div class="col-md-4">
<div class="jumbotron">
<div class="alert alert-success" role="alert">
<strong>Dodaj nowy składnik</strong> 
</div>
        <p class="lead">{{form_start(form)}}
        {{form_widget(form)}}
        <input type = "submit" value = "send">
        {{form_end(form)}}</p>

      </div>

      <div class="row marketing">
        <div class="col-lg-6">

        </div>

</div>

<div class="col-md-4">
</div>


{% endblock %}
